body {
  background-color: #c9dabf;
}

.title-text {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
}
.info-text {
  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 18px;
}

.paper-card {
  padding: 10px;
  margin: 20px;
  background-color: #808d7c;
  border: 1px solid black;
  text-align: center;
  height: auto;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}
/* .paper-card:hover {
  transform: scale(1.1);
} */

.paper-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-color: #697565;
}

.paper-card a:hover {
  background-color: #516c49;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}

.toggle-button,
.paper-card a {
  background-color: #808d7c;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  border: 0.1px dotted black;
  color: #1e201e;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.toggle-button {
  margin-right: 8px;
}

.toggle-button:hover {
  background-color: #516c49;
}

.hidden-text {
  color: rgb(0, 0, 0);
}
